$distance: 32px !default;

/**
 * Custom data-reveal="x" options includes:
 * - fade
 * - fade-up, fade-right, fade-down, fade-left
 * - fade-up-right, fade-down-right, fade-down-left, fade-up-left
 */

[data-reveal^="fade"][data-reveal^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;

  &.reveal-scrolled {
    opacity: 1;
  }
}

[data-reveal="fade-up"] {
  transform: translateY($reveal-distance);
}

[data-reveal="fade-right"] {
  transform: translateX(-$reveal-distance);
}

[data-reveal="fade-down"] {
  transform: translateY(-$reveal-distance);
}

[data-reveal="fade-left"] {
  transform: translateX($reveal-distance);
}

[data-reveal="fade-up-right"] {
  transform: translate(-$reveal-distance, $reveal-distance);
}

[data-reveal="fade-down-right"] {
  transform: translate(-$reveal-distance, -$reveal-distance);
}

[data-reveal="fade-down-left"] {
  transform: translate($reveal-distance, -$reveal-distance);
}

[data-reveal="fade-up-left"] {
  transform: translate($reveal-distance, $reveal-distance);
}
